<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust.mapper.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.hust.pojo.Member" >
    <result column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="scho_id" property="schoId" jdbcType="VARCHAR" />
    <result column="book_id" property="bookId" jdbcType="VARCHAR" />
    <result column="email_addr" property="emailAddr" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.hust.pojo.Member" >
    insert into member (stu_id, scho_id, book_id, 
      email_addr)
    values (#{stuId,jdbcType=VARCHAR}, #{schoId,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR}, 
      #{emailAddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.pojo.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="schoId != null" >
        scho_id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="emailAddr != null" >
        email_addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stuId != null" >
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="schoId != null" >
        #{schoId,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="emailAddr != null" >
        #{emailAddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>